* {
    box-sizing: border-box;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #333;
    overflow-x: hidden;
    background-color: #FAF9FA;
}

p{
    margin: 0;
}

.-lb-hide{
    position: relative !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}