//===== MARGIN PADDING SPACING //

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 80, 85, 90, 95, 100, 120, 130, 140, 160, 180); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts { 
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@include media-breakpoint-up(md){ //min-width: 768px
	$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 80, 85, 90, 95, 100, 120, 130, 140, 160, 180); // Adjust this to include the pixel amounts you need.
	$sides: (top, bottom, left, right); // Leave this variable alone

	@each $space in $spaceamounts {
	  @each $side in $sides {
	    .md-m-#{str-slice($side, 0, 1)}-#{$space} {
	      margin-#{$side}: #{$space}px !important;
	    }
	  
	    .md-p-#{str-slice($side, 0, 1)}-#{$space} {
	      padding-#{$side}: #{$space}px !important;
	    }
	  }
	}

}

@include media-breakpoint-up(lg){ //min-width: 992px
	$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 80, 85, 90, 95, 100, 120, 130, 140, 160, 180); // Adjust this to include the pixel amounts you need.
	$sides: (top, bottom, left, right); // Leave this variable alone

	@each $space in $spaceamounts {
	  @each $side in $sides {
	    .lg-m-#{str-slice($side, 0, 1)}-#{$space} {
	      margin-#{$side}: #{$space}px !important;
	    }
	  
	    .lg-p-#{str-slice($side, 0, 1)}-#{$space} {
	      padding-#{$side}: #{$space}px !important;
	    }
	  } 
	}

}

@include media-breakpoint-up(xl){ //min-width: 1200px;
	$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 80, 85, 90, 95, 100, 120, 130, 140, 160, 180); // Adjust this to include the pixel amounts you need.
	$sides: (top, bottom, left, right); // Leave this variable alone

	@each $space in $spaceamounts {
	  @each $side in $sides {
	    .xl-m-#{str-slice($side, 0, 1)}-#{$space} {
	      margin-#{$side}: #{$space}px !important;
	    }
	  
	    .xl-p-#{str-slice($side, 0, 1)}-#{$space} {
	      padding-#{$side}: #{$space}px !important;
	    }
	  }
	}
 
}

//=====END MARGIN PADDING SPACING //