header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87px;
    background-color: #fff;
    padding: 18px 28px;
    .logo{

    }
    .header-btn{
        display: flex;
        align-items: center;
        .cta-login{
            color: #333;
            text-decoration: none;
            cursor: pointer;
        }
        .btn-started{
            background-color: #E63E44;
            font-size: 14px;
            border-radius: 6px;
            color: #fff;
            font-weight: 600;
            height: 45px;
            display: flex;
            align-items: center;
            padding: 20px;
            cursor: pointer;
        }
    }
}