.sec-intro{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAF9FA;
  .text-wrap{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    @media only screen and (max-height: 800px) {
      transform: scale(0.87);
    }
    @media only screen and (max-height: 800px) {
      padding-top: 80px;
      transform: scale(0.80);
    }
  }
  .mask-text{
    font-size: 68px;
    font-weight: 600;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    margin: 0 auto;
    line-height: 77px;
  }
  p{
    margin: 0 auto;
    color: #333;
    font-size: 24px;
    max-width: 552px;
    text-align: center;
    line-height: 28px;
  }
  .balls-wrap{
    height: 100%;
    position: relative;
    .ball{
      border-radius: 50%;
      position: absolute;
      &-org{
        background-color: #E1674F;
        width: 106px;
        height: 106px;
        bottom: 250px;
        left: 50%;
      }
      &-yellow{
        background-color: #FADA6C;
        width: 384px;
        height: 384px;
        bottom: -180px;
        left: 50%;
        z-index: 1;
      }
      &-blue{
        background-color: #223FD5;
        width: 303px;
        height: 303px;
        right: 50%;
        bottom: 100px;
        transform: translateX(50%);
      }
    }
  }
  .pad-board-wrap{
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    perspective: 1000px;
    height: 55%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    .pad-board{
      margin: 0 auto;
    }
  }
  .kaibo-title-wrap{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    .kaibo-title{
      font-size: 64px;
      color: #000;
    }
  }
  .intro-des-wrap{
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    letter-spacing: -1px;
    p{
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      // color: #000;
      span{
        color: #383838;
        font-weight: 400;
      }
    }
  }
}
.ball-trigger-wrap{
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  .ball-trigger{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
}
.phone-trigger-wrap{
  position: absolute;
  height: 100vh;
  top: 200vh;
  left: 0;
  width: 100%;
  z-index: -1;
  .phone-trigger{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
}

.sec-phone{
  background-color: #FAF9FA;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 120px;
  overflow: hidden;
  .phone-con{
    height: 100%;
  }
  .wave-wrap{
    top: 50%;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    margin-left: -200px;
    img{
      width: 120%;
    }
  }
  .sub-text{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .main-text{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 56px;
    font-weight: 600;
  }
  p{
    font-size: 24px;
    color: #383838;
    font-weight: 400;
  }
  .line-2-title{
    color: #1d1d1d;
    font-weight: 500;
  }
  .phone-wrap{
    display: flex;
    justify-content: center;
    height: 100%;
    .slide-phone-img{
      position: absolute;
      height: 100%;
      display: block;
      padding: 55px;
      padding-top: 0px;
    }
    .front-phone-img{
      position: absolute;
      height: 100%;
      display: block;
      padding: 55px;
      padding-top: 0px;
      opacity: 0;
    }
  }
}

.sec-whattodo{
  background-color: #FAF9FA;
  &-wording{
    padding-bottom: 200px;
    .what-title{
      text-align: center;
      font-size: 98px;
      font-weight: 300;
      color: #222;
    }
    .what-sub{
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      color: #222;
      max-width: 480px;
      margin: 0 auto;
      margin-top: 45px;
      line-height: 32px;
    }
  }
  &-marketing{
    padding-top: 260px;
    padding-bottom: 180px;
    background-color: #FAF9FA;
    height: 100vh;
    .board-mar{
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      height: 100%;
      .img-mb-wrap{
        position: relative;
        .point-1{
          position: absolute;
          left: 0;
          top: -140px;
          font-size: 36px;
          font-weight: 600;
          max-width: 382px;
          z-index: 1;
          p{
            line-height: 38px;
          }
          span{
            font-size: 16px;
            font-weight: 500;
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
          }
        }
        .point-2{
          position: absolute;
          right: 0;
          bottom: 0px;
          font-size: 36px;
          font-weight: 600;
          max-width: 485px;
          z-index: 1;
          p{
            line-height: 38px;
          }
          span{
            font-size: 16px;
            font-weight: 500;
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
          }
        }
        .point-3{
          position: absolute;
          left: 0;
          bottom: 0px;
          font-size: 36px;
          font-weight: 600;
          max-width: 485px;
          z-index: 1;
          p{
            line-height: 38px;
          }
          span{
            font-size: 16px;
            font-weight: 500;
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
          }
        }
        .img-mb-1{
          height: 100%;
        }
        .img-mb-2, .img-mb-3{
          position: absolute;
          left: 0;
          opacity: 0;
          height: 100%;
        }
      }
    }
  }
}

.sec-static{
  .key-text{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 500;
  }
  .ai-title{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 500;
    max-width: 916px;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 70px;
  }
  .row-card{
    .card-col{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 60px;
      &-text{
        .wrap{
          width: 422px;
          .number{
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 8px;
          }
          .title{
            font-size: 36px;
            color: #000;
            font-weight: 600;
            margin-bottom: 16px;
          }
          .text{
            font-size: 24px;
            color: #383838;
            font-weight: 400;
          }
        }
      }
    }
  }
}












.box1 {
    background-color: #111111;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .box2 {
    background-color: #fc5546;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .box3 {
    background-color: #3dd68c;
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: white;
  }