.sec-intro{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAF9FA;
  @media only screen and (max-height: 768px) {
    // padding-left: 15px;
    // padding-right: 15px;
  }
  @media only screen and (max-width: 768px) {
    height: auto;
  }
  .text-wrap{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    @media only screen and (max-height: 800px) {
      transform: scale(0.87);
    }
    @media only screen and (max-height: 800px) {
      padding-top: 80px;
      transform: scale(0.80);
    }
    @media only screen and (max-width: 768px) {
      transform: scale(1);
      padding-left: 20px;
      padding-right: 20px;
      p{
        font-size: 16px;
        line-height: 22px;
        max-width: 300px;
      }
    }
  }
  .mask-text{
    font-size: 68px;
    font-weight: 600;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    margin: 0 auto;
    line-height: 70px;
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    padding-bottom: 15px;
    @media only screen and (max-width: 768px) {
      font-size: 40px;
      line-height: 45px;
    }
  }
  p{
    margin: 0 auto;
    color: #383838;
    font-size: 24px;
    max-width: 552px;
    text-align: center;
    line-height: 30px;
  }
  .balls-wrap{
    height: 100%;
    position: relative;
    .ball{
      border-radius: 50%;
      position: absolute;
      &-org{
        background-color: #E1674F;
        width: 106px;
        height: 106px;
        bottom: 250px;
        left: 50%;
      }
      &-yellow{
        background-color: #FADA6C;
        width: 384px;
        height: 384px;
        bottom: -180px;
        left: 50%;
        z-index: 1;
      }
      &-blue{
        background-color: #223FD5;
        width: 303px;
        height: 303px;
        right: 50%;
        bottom: 100px;
        transform: translateX(50%);
      }
    }
  }
  .pad-board-wrap{
    position: relative;
    z-index: 1;
    // max-width: 1200px;
    margin: 0 auto;
    perspective: 1500px;
    height: 53%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    @media only screen and (max-width: 768px) {
      position: relative;
      height: auto;
      bottom: inherit;
    }
    .multiple-pad-board-wrap{
      position: relative;
      z-index: 1;
      margin: 0 auto;
      perspective: 1500px;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      z-index: 2;
      @media only screen and (max-width: 768px) {
        height: auto;
      }
      .pad-board{
        margin: 0 auto;
        height: 110%;
        padding-top: 20px;
        border-radius: 20px;
        box-shadow: rgb(212,203,216) 0px 16px 0px -6px;
      }
      .pad-board-1{
        position: absolute;
        height: 43%;
        top: 24%;
        left: 1.8%;
        box-shadow: rgba(0, 0, 0, 0) 10px 10px 37px -5px;
      }
      .pad-board-2{
        position: absolute;
        height: 20%;
        top: 45%;
        left: 25.8%;
        box-shadow: rgba(0, 0, 0, 0) 10px 10px 37px -5px;
      }
      .pad-board-3{
        position: absolute;
        height: 7.4%;
        left: 22.5%;
        top: 8%;
        transform-origin: 50% 390%;
      }
      .pad-board-4{
        position: absolute;
        height: 5.4%;
        bottom: -6%;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: 0% -1500%;
      }
      .m-balls-wrap{
        position: absolute;
        z-index: -1;
      }
    }
  }
  .kaibo-title-wrap{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    .kaibo-title{
      font-size: 64px;
      color: #000;
      // margin-top: -17px;
    }
  }
  .intro-des-wrap{
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    letter-spacing: -1px;
    @media only screen and (max-width: 768px) {
      position: relative;
      opacity: 1 !important;
      transform: translateY(0px) !important;
      // padding-right: 40px;
      // padding-left: 40px;
      max-width: 300px;
      p{
        font-size: 16px !important;
        line-height: 22px !important;
        letter-spacing: 0px;
      }
    }
    p{
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      // color: #000;
      span{
        color: #595959;
        font-weight: 400;
      }
    }
  }
}
.ball-trigger-wrap{
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  .ball-trigger{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
}
.phone-trigger-wrap{
  position: absolute;
  height: 100vh;
  top: 200vh;
  left: 0;
  width: 100%;
  z-index: -1;
  .phone-trigger{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
}

.sec-phone{
  background-color: #FAF9FA;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 120px;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    padding-bottom: 140px;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-position: 100% 101%;
    background-image: url('../../assets/img/mobile/wave-phone.png');
  }
  .phone-con{
    height: 100%;
    z-index: 2;
    transform: translateZ(1000px);
  }
  .overlay-mask{
    height: 100vh;
    width: 100vw;
    background-color: #FAF9FA;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0) translateZ(500px);
    transition: all 0.5s ease-in-out;
    &.active{
      transform: translateX(100vw) translateZ(500px);
      transition: all 1s ease-in-out;
    }
  }
  .wave-wrap{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -200px;
    width: 130vw;
    img{
      width: 100%;
      position: relative;
      left: -50px;
      bottom: 15px;
    }
  }
  .sub-text{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .main-text{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.1;
    @media only screen and (max-width: 768px) {
      font-size: 32px;
    }
  }
  p{
    font-size: 24px;
    color: #383838;
    font-weight: 400;
    line-height: 38px;
  }
  .line-1{
    line-height: 30px;
    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .line-2-title{
    color: #1d1d1d;
    font-weight: 500;
    line-height: 30px;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 26px;
    }
  }
  .line-2{
    position: relative;
    line-height: 30px;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, transparent 0%, #383838 100%);
    -webkit-text-fill-color: transparent;
    &::after{
      content: '';
      // position: absolute;
      // background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(#FAF9FA,1));
      // // background-color: rgba(255,255,255,0.5);
      // width: 100%;
      // height: 100%;
      // left: 0;
      // bottom: 0;
    }
    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .m-wrap{
    @media only screen and (max-width: 768px) {
      max-width: 60%;
    }
  }
  .phone-wrap{
    display: flex;
    justify-content: center;
    height: 100%;
    z-index: 2;
    .slide-phone-img{
      position: absolute;
      height: 100%;
      display: block;
      padding: 55px;
      padding-top: 0px;
    }
    .front-phone-img{
      position: absolute;
      height: 100%;
      display: block;
      padding: 55px;
      padding-top: 0px;
      opacity: 0;
    }
  }
}

.sec-whattodo{
  background-color: #FAF9FA;
  @media only screen and (max-width: 768px) {
    // padding-left: 15px;
    // padding-right: 15px;
  }
  &-wording{
    padding-bottom: 60px;
    .horizontal-wrap{
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      // animation: horizontalMove 10s infinite;
      .what-title{
        text-align: center;
        font-size: 98px;
        font-weight: 300;
        color: #222;
        margin-right: 160px;
        @media only screen and (max-width: 768px) {
          font-size: 45px;
          margin-right: 45px;
        }
      }
    }
    .what-sub{
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #383838;
      max-width: 480px;
      margin: 0 auto;
      margin-top: 45px;
      line-height: 32px;
      @media only screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 22px;
        padding: 0 25px;
        margin-top: 20px;
      }
    }
  }
  &-marketing{
    padding-top: 260px;
    padding-bottom: 180px;
    background-color: #FAF9FA;
    height: 100vh;
    @media only screen and (max-width: 768px) {
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
      // padding-left: 15px;
      // padding-right: 15px;
    }
    .board-mar{
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      height: 100%;
      z-index: 2;
      @media only screen and (max-width: 768px) {
        height: auto;
        display: block;
        background-image: url(../../assets/img/mobile/pattern-bg.png);
      }
      .img-mb-wrap{
        position: relative;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 768px) {
          display: block;
          padding-left: 30px;
          padding-right: 30px;
        }
        .point-1{
          position: absolute;
          left: 0;
          top: -140px;
          font-size: 36px;
          font-weight: 600;
          max-width: 382px;
          z-index: 1;
          @media only screen and (max-width: 768px) {
            position: relative;
            top: 0;
            font-size: 20px;
            max-width: 300px;
            span{
              font-size: 13px !important;
            }
            p{
              line-height: 26px !important;
              margin-top: 5px !important;
            }
          }
          p{
            line-height: 38px;
          }
          span{
            font-size: 16px;
            font-weight: 500;
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
          }
        }
        .point-2{
          position: absolute;
          right: 0;
          bottom: 0px;
          font-size: 36px;
          font-weight: 600;
          max-width: 485px;
          z-index: 1;
          p{
            line-height: 38px;
          }
          span{
            font-size: 16px;
            font-weight: 500;
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
          }
        }
        .m-point-2{
          margin-top: 30px;
          position: relative;
          text-align: right;
          margin-right: 0;
          padding-left: 120px;
          span{
            font-size: 13px !important;
          }
          p{
            font-size: 20px;
            line-height: 26px;
            margin-top: 5px;
          }
        }
        .m-point-3{
          margin-top: 30px;
          position: relative !important;
          text-align: left;
          max-width: 300px;
          span{
            font-size: 13px !important;
          }
          p{
            font-size: 20px;
            line-height: 26px !important;
            margin-top: 5px;
          }
        }
        .point-3{
          position: absolute;
          left: 0;
          bottom: 0px;
          font-size: 36px;
          font-weight: 600;
          max-width: 450px;
          z-index: 1;
          p{
            line-height: 38px;
          }
          span{
            font-size: 16px;
            font-weight: 500;
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
          }
        }
        .img-mb-1{
          height: 100%;
          @media only screen and (max-width: 768px) {
            height: auto;
            max-width: 100%;
            margin-top: 30px;
            margin-bottom: 45px;
          }
        }
        .img-mb-2, .img-mb-3{
          position: absolute;
          left: 0;
          opacity: 0;
          height: 100%;
          right: 0;
          margin: 0 auto;
          @media only screen and (max-width: 768px) {
            position: relative;
            opacity: 1;
            height: auto;
            max-width: 100%;
            margin-top: 30px;
            margin-bottom: 45px;
          }
        }
      }
    }
    .float-ele{
      position: absolute;
      z-index: 1;
      animation: floating 15s ease-in-out infinite;
      &__0{
        left: 200px;
        bottom: 50%;
      }
      &__1{
        right: 150px;
        bottom: 300px;
        animation: floating_1 5s ease-in-out infinite;
      }
      &__2{
        right: 350px;
        top: 150px;
      }
      &__3{
        left: 55%;
        top: 100px;
        animation: floating_1 10s ease-in-out infinite;
      }
      &__4{
        left: 50%;
        bottom: 50px ;
      }
      &__5{
        left: 20%;
        bottom: 100px;
        animation: floating_1 8s ease-in-out infinite;
      }
      &__6{
        right: 20%;
        bottom: 50%;
      }
      &__7{
        right: 35%;
        bottom: 100px;
        animation: floating_1 5s ease-in-out infinite;
      }
    }
    .ver-text{
      position: absolute;
      top: 100vh;
      height: 100%;
      transition: all 2s ease-out;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      &.active{
        top: 0;
        transition: all 3s ease-in-out;
      }
      img{
        position: absolute;
        bottom: 0;
        height: 95%;
      }
    }
  }
}

.sec-static{
  @media only screen and (max-width: 768px) {
    padding-left: 30PX;
    padding-right: 30px;
    .wrap-no-pd{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .key-text{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    @media only screen and (max-width: 768px) {
      text-align: left;
      display: block;
    }
  }
  .ai-title{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 500;
    max-width: 916px;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 70px;
    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 36px;
      text-align: left;
    }
  }
  .row-card{
    &.offset-y{
      margin-top: -60px;
      @media only screen and (max-width: 768px) {
        margin-top: -10px;
      }
    }
    .col-text{
      display: flex;
      justify-content: flex-end;
    }
    .card-col{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      // height: 100%;
      justify-content: center;
      padding: 60px;
      padding-right: 100px;
      @media only screen and (max-width: 768px) {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 45px;
      }
      &-reverse{
        align-items: flex-start;
        padding: 60px;
        @media only screen and (max-width: 768px) {
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 45px;
        }
      }
      &-flex-btm{
        justify-content: flex-end;
      }
      &-text{
        .wrap{
          width: 422px;
          margin-top: -100px;
          @media only screen and (max-width: 768px) {
            width: auto;
            margin-top: inherit;
            padding-right: 20px;
          }
          .number{
            background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 8px;
            @media only screen and (max-width: 768px) {
              margin-bottom: 2px;
              display: inline-block;
            }
          }
          .title{
            font-size: 36px;
            color: #000;
            font-weight: 600;
            margin-bottom: 16px;
            @media only screen and (max-width: 768px) {
              font-size: 20px;
              line-height: 26px;
              background-image: none;
              -webkit-text-fill-color: #000;
            }
          }
          .text{
            font-size: 24px;
            color: #383838;
            font-weight: 400;
            line-height: 30px;
            @media only screen and (max-width: 768px) {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }     
    }
    .flex-row-reverse{
      @media only screen and (max-width: 768px) {
        &.last-row{
          flex-direction: column-reverse !important;
        }
      }
      .col-text{
        justify-content: flex-start;
      }
      .card-img{
        @media only screen and (max-width: 768px) {
          opacity: 1;
        }
      }
    }
    .card-img{
      @media only screen and (max-width: 768px) {
        transform: translateX(0) !important;
        padding-left: 0;
        padding-right: 0;
        opacity: 1;
        &-4{
          padding-left: 35%;
        }
        &-5{
          padding-right: 35%;
        }
      }
      &.active{
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
      }
      &-1{transform: translateX(100%);transition: all 0.5s ease-in-out;}
      &-2{transform: translateX(-100%);transition: all 0.5s ease-in-out;}
      &-3{transform: translateX(100%);transition: all 0.5s ease-in-out;}
      &-5{
        transform: translateY(-200px);transition: all 0.5s ease-in-out;
        opacity: 0;
        &.active{
          transform: translateY(0);transition: all 0.5s ease-in-out;
          opacity: 1;
        }
      }
    }
    .arrow-point-down{
      position: absolute;
      left: -84px;
      bottom: 18px;
      z-index: 1;
      transform: translate(200px, -100px) rotate(31deg);
      opacity: 0;
      transition: all .5s ease-in-out;
      @media only screen and (max-width: 738px){
        opacity: 1;
        transform: scale(0.3) translateX(-50%);
        top: 4px;
        left: 24%;
      }
      &.active{
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
        transition: all .5s ease-in-out;
      }
    }
  }
  .row-text{
    h3{
      background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
      font-size: 44px;
      max-width: 800px;
      margin: 0 auto;
    }
    .text-grad{
      @media only screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 36px;
        text-align: left !important;
        max-width: 100%;
      }
    }
  }
}

.sec-end{
  .row-card{
    .text-wrap{
      display: flex;
      justify-content: flex-end;
      @media only screen and (max-width: 768px) {
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      .title{
        background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        max-width: 533px;
        font-size: 52px;
        font-weight: 600;
        margin-top: 100px;
        @media only screen and (max-width: 768px) {
          margin-top: 0;
          font-size: 32px;
          line-height: 35px;
          text-align: center;
        }
      }
    }
    .btm-bar{
      width: 100%;
      background-color: #431FC3;
      height: 250px;
      position: absolute;
      bottom: 0;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        position: relative;
        height: 136px;
        display: flex;
        align-items: center;
        z-index: 1;
      }
      .vertical-loreal{
        position: absolute;
        bottom: -76px;
      }
      &-text-wrap{
        display: flex;
        justify-content: flex-end;
        .cont-stat-no{
          max-width: 545px;
          margin-top: 60px;
          padding-right: 100px;
          @media only screen and (max-width: 768px) {
            padding-right: 0;
            margin-top: 0;
          }
          .wrap-stat{
            display: flex;
            font-size: 64px;
            color: #fff;
            font-weight: 400;
            @media only screen and (max-width: 768px) {
              width: 100%;
              font-size: 36px;
              text-align: center;
            }
            .left{
              border-right: .5px solid rgba(#DDDDDD, 0.3) ;
              padding-right: 35px;
              @media only screen and (max-width: 768px) {
                width: 50%;
                padding-right: 25px;
                padding-left: 25px;
                p{
                  font-size: 16px;
                  line-height: 20px;
                }
              }
              .no{
                line-height: 1;
              }
            }
            .right{
              padding-left: 35px;
              @media only screen and (max-width: 768px) {
                width: 50%;
                padding-left: 25px;
                padding-right: 25px;
                p{
                  font-size: 16px;
                  line-height: 20px;
                }
              }
              .dollar-sold{
                @media only screen and (max-width: 768px) {
                  justify-content: center;
                }
              }
              .no{
                line-height: 1;
              }
            }
            span{
              font-size: 36px;
              @media only screen and (max-width: 768px) {
                font-size: 24px;
                line-height: 1;
              }
            }
            p{
              font-size: 18px;
              font-weight: 300;
              color: #EEECFA;
              line-height: 1.2;
            }
          }
        }
      }
    }
    .makeup-phone-wrap{
      @media only screen and (max-width: 768px) {
        text-align: center;
        position: relative;
      }
      img{
        @media only screen and (max-width: 768px) {
          max-width: 300px;
          margin: 0 auto;
          position: relative;
          z-index: 1;
          padding-left: 30px;
        }
      }
      .m-big-text{
        display: none;
        @media only screen and (max-width: 768px) {
          display: block;
          position: absolute;
          bottom: 0;
          line-height: 20vw;
          p{
            font-size: 30vw;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #aaa;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.sec-team{
  @media only screen and (max-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
  }
  h2{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 35px;
    }
  }
  .cat-title{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
  }
  .team-div-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.no-space-btw{
      justify-content: flex-start;
    }
    .single-pos{
      margin-bottom: 60px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 25px;
      }
      .person-img-wrap{
        max-width: 124px;
        margin-right: 30px;
      }
      .name{
        font-size: 20px;
        font-weight: 500;
        color: #000;
      }
      .role{
        color: #555;
        font-size: 13px;
        font-weight: 400;
      }
      .experience{
        color: #383838;
        font-weight: 400;
        font-size: 15px;
        margin-top: 10px;
        max-width: 290px;
        letter-spacing: 0.5px;
        line-height: 1.4;
        @media only screen and (max-width: 768px) {
          font-size: 14px;
          letter-spacing: 0;
        }
        &.extend{
          max-width: 440px;
        }
      }
    }
  }
}

.sec-logos{
  .bnw-logo-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (max-width: 768px){
      position: relative;
      width: 220%;
      justify-content: flex-start;
    }
    .single-logo{
      margin: 15px 25px;
      display: flex;
      align-items: center;
      img{
        max-width: 100%;
      }
    }
  }
}

.sec-supported{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F3F2F7;
  p{
    background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    display: inline-block;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
  }
  .wrap-sp-logo{
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    .single-sp-logo{
      margin: 15px 30px;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 768px) {
        margin: 20px 15px;
      }
    }
  }
}

.sec-form{
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 0% 62%;
  @media only screen and (max-width: 768px) {
    padding-bottom: 250px;
    background-position: -117px 100%;
    background-size: contain;
  }
  .flower-pattern{
    background-image: url('../../assets/img/flower-pattern.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 280px;
    height: 278px;
    top: -130px;
    right: -100px;
    background-size: contain;
    @media only screen and (max-width: 768px) {
      background-size: 140px;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: 120% 0%;
      top: -50px;
      right: inherit;
    }
  }
  .started-wrap{
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    @media only screen and (max-width: 768px) {
      justify-content: flex-start;
      padding-left: 30px;
      padding-bottom: 30px;
      h2{
        font-size: 40px !important;
        line-height: 44px;
        max-width: 300px !important;
        margin-bottom: 0;
      }
    }
    h2{
      background-image: linear-gradient(45deg, #D8597E, #A64388, #081E72);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
      font-weight: 600;
      font-size: 60px;
      max-width: 370px;
    }
  }
}

footer{
  background-color: #fff;
  .container{
    border-top: 1px solid #DDDDDD;
    padding: 20px 0 20px 0;
  }
  .copy-right-wrap{
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    color: #999;
  }
  .tnc{
    max-width: 794px;
    margin: 0 auto;
  }
  .copy-right{
    color: #777;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
  }
}

.kb-form{
  @media only screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form-wrap{
    position: relative;
    max-width: 505px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    .form-row{
      position: relative;
      width: 100%;
      .form-label{
        position: absolute;
        top: 14px;
        left: 20px;
        color: #888;
        transition: all 0.2s ease-in-out;
        &.active{
          background-color: #fff;
          padding: 2px 9px;
          font-size: 12px;
          top: -10px;
          left: 16px;
          color: #595959;
          transition: all 0.2s ease-in-out;
        }
      }
      .form-input{
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        width: 100%;
        padding: 14px 20px;
        font-size: 16px;
        color: #333;
        &.active{
          border: 1px solid #aaa;
        }
      }
      .select-input{
        background-position: 96% 56%;
        appearance: none;
        border: 1px solid #aaa;
      }
      &-select{
        color: red;
        .form-label{
          background-color: #fff;
          padding: 2px 9px;
          font-size: 12px;
          top: -10px;
          left: 16px;
          color: #595959;
        }
      }
    }
    input.submit-btn{
      background-color: #E63E44;
      color: #fff;
      padding: 15px 60px;
      border-width: 0;
      border-radius: 6px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 14px;
      max-width: 154px;
      cursor: pointer;
      @media only screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

footer{
  @media only screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .copy-right-wrap{
    @media only screen and (max-width: 768px) {
      justify-content: center !important;
    }
  }
}