.single-item-content{
    .slider-bg{
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        position: fixed;
        top: 0;
        h6{
            font-size: 22px;
            bottom: 111px;
            position: absolute;
            max-width: 300px;
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-weight: $normal;
            line-height: 28px;
            color: #fff;
        }
        .scroll-navigator{
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-size: 13px;
                margin-bottom: 8px;
                color: #fff;
            }
        }
        video{
            position: absolute;
            height: 100%;
            z-index: -1;
            width: 100%;
            object-fit: cover;
        }
    }
    .details-content{
        position: relative;
        margin-top: 100vh;
        .s-title{
            margin-bottom: 16px;
        }
        .about-section{
            margin-bottom: 40px;;
            padding: 0 40px;
            padding-top: 40px;
        }
        .hotspot-section{
            position: relative;
            margin-bottom: 40px;
            padding: 0 40px;
            .hotspot-row{
                position: relative;
                width: 100%;
                max-width: 100%;
                margin-bottom: 15px;
                display: flex;
                .hotspot-col{
                    &--left{
                        width: 30%;
                        img{
                            max-width: 100%;
                        }
                    }
                    &--right{
                        width: 70%;
                        margin-left: 15px;
                        padding-right: 40px;
                        position: relative;
                        padding-bottom: 10px;
                        &::after{
                            content: '';
                            background-color: #ddd;
                            width: 94%;
                            height: 1px;
                            display: block;
                            position: absolute;
                            bottom: 0;
                        }
                        .title{
                            font-size: 16px;
                            color: #111111;
                            margin-bottom: 7px;
                            font-weight: $bold;
                        }
                        .wording{
                            p{
                                color: #555555;
                                margin-bottom: 20px;
                                display: -webkit-box;
                                max-width: 100%;
                                height: 60px;
                                margin: 0 auto;
                                font-size: 14px;
                                line-height: 20px;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                &.expand{
                                    height: auto;
                                    margin-bottom: 18px;
                                    -webkit-line-clamp: unset;
                                }
                            }
                        }
                        .leaf-icon{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            .x-icon{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                &::before{
                                    content: '';
                                    width: 12px;
                                    height: 1px;
                                    background-color: #0067B9;
                                    display: block;
                                    position: relative;
                                    top: 16px;
                                    left: 11px;
                                }
                                &::after{
                                    content: '';
                                    width: 12px;
                                    height: 1px;
                                    background-color:  #0067B9;
                                    display: block;
                                    position: relative;
                                    transform: rotate(90deg);
                                    top: 15px;
                                    left: 11px;
                                }
                                &.minus{
                                    &::after{
                                        display: none;
                                    }
                                    &::before{
                                        background-color: #AAAAAA;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .loadmore-btn{
                margin-top: 25px;
                text-align: center;
                padding: 10px 0;
                color: #0067B9;
                border: 1px solid #0067B9;
                border-radius: 40px;
                display: block;
                text-decoration: none;
                a{
                    color: #0067B9;
                    text-decoration: none;
                }
            }
            &::after{
                content: '';
                position: absolute;
                left: -50px;
                width: 200%;
                height: 1px;
                background-color: #DDDDDD;
                bottom: -45px;
                margin-top: 30px;
            }
        }
        .exploremore-section{
            position: relative;
            margin-top: 80px;
            padding: 0 0 0 40px;
            .s-title{
                font-size: 16px;
                color: #111111;
                font-weight: $bold;
                margin-bottom: 10px;
            }
        }
        .qr-section{
            padding: 15px 40px 40px 40px;
            hr{
                color: #E4E4E4;
            }
            .content{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                span{
                    color: #555555;
                }
                span:first-child{
                    margin-right: 10px;
                }
                img{
                    max-width: 44px;
                }
            }
        }
    }
}


.content-ox-pose{
    position: absolute;
    right: 0;
    bottom: 1px;
}
