.leaderboard-page{
    height: 100vh;
    background-color: #ADDCFF;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    width: 100%;
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
    &.active{
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }
    .back-btn-leaderboard{
        position: absolute;
        left: 41px;
        top: 52px;
    }
    &-head{
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px;
        .title-label{
            font-size: 30px;
            font-weight: 700;
            font-family: 'PingFang SC Regular';;
            color: #111;
            margin-bottom: 50px;
        }
        .leaderboard-wrap{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 30px;
            @media only screen and (max-height: 569px) {
                transform: scale(0.8) translateY(-29px)
            }
            .circle-line{
                width: 170px;
                height: 170px;
                position: absolute;
                border-radius: 50%;
                border: 1px solid #FFFFFF;
                transform: scale(1.1);
            }
            .pop-ox{
                position: absolute;
                align-self: center;
                margin-top: -30px;
                top: -27px;
                transform: translateY(62px);
                transition: all 0.4s ease-in-out;
                &.animate{
                    transform: translateY(-3px);
                    transition: all 0.4s ease-in-out;
                }
                &-hand{
                    position: absolute;
                    top: -5px;
                    left: 56px;
                    transition: all 0.4s ease-in-out;
                    opacity: 0;
                    &.animate{
                        opacity: 0;
                        animation: handRotate 1s alternate ease-in;
                        animation-delay: 0.5s;
                        animation-fill-mode: forwards;
                        transition: all 0.4s ease-in-out;
                        z-index: 9;
                    }
                }
            }
            &-content{
                position: relative;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                width: 170px;
                height: 170px;
                z-index: 1;
                align-items: center;
                justify-content: center;
                .label{
                    color: #777;
                    font-family: 'PingFang SC Regular';;
                    font-size: 12px;
                }
                .ranking{
                    color: #B33D8E;
                    font-family: 'PingFang SC Regular';;
                    font-size: 52px;
                    margin-top: 8px;
                    position: relative;
                }
                .unit{
                    color: #B33D8E;
                    font-family: 'PingFang SC Regular';;
                    font-size: 20px;
                    position: absolute;
                    right: -20px;
                    top: 0;
                }
                .timer-row{
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    svg{
                        margin-right: 6px;
                    }
                    .user-endtime{
                        font-family: 'PingFang SC Regular';;
                        font-size: 14px;
                        font-weight: 400;
                        color: #333;
                    }
                }
                .leaf-1{
                    position: absolute;
                    left: -38px;
                    bottom: -7px;
                    transform: rotate(20deg);
                    transform-origin: bottom right;
                    &.animate{
                        transform: rotate(0deg);
                        transition: all 0.7s ease-in-out;
                    }
                }
                .leaf-2{
                    position: absolute;
                    right: -43px;
                    bottom: -7px;
                    transform: rotate(-20deg);
                    transform-origin: bottom left;
                    &.animate{
                        transform: rotate(0deg);
                        transition: all 0.7s ease-in-out;
                    }
                }
            }
        }
    }
    &-body{
        height: 60%;
        .leaderboard-table{
            margin-top: 30px;
            height: 100vh;
            overflow: hidden;
            ol{
                counter-reset: item;
                list-style-type: none;
                padding-left: 0;
                height: 100%;
                overflow: auto;
                padding: 30px;
                padding-bottom: 600px;
                margin-top: 56px;
                padding-top: 10px;
                li{
                    width: 100%;
                    background-color: #fff;
                    margin-bottom: 10px;
                    border-radius: 16px;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    &:before{
                        content: counter(item) "th"; 
                        counter-increment: item;
                        margin-right: 24px;
                    }
                    &:first-child{
                        &::before{
                            content: counter(item) "st";
                        }
                        &::after{
                            content: '';
                            background-image: url('../img/game/g-crown.png');
                            background-size: contain;
                            position: absolute;
                            display: block;
                            left: -13px;
                            top: -14px;
                            width: 38px;
                            height: 80px;
                            background-repeat: no-repeat;
                            z-index: 9999;
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content: counter(item) "nd";
                        }
                        &::after{
                            content: '';
                            background-image: url('../img/game/s-crown.png');
                            background-size: contain;
                            position: absolute;
                            display: block;
                            left: -13px;
                            top: -14px;
                            width: 38px;
                            height: 80px;
                            background-repeat: no-repeat;
                            z-index: 9999;
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content: counter(item) "rd";
                        }
                        &::after{
                            content: '';
                            background-image: url('../img/game/b-crown.png');
                            background-size: contain;
                            position: absolute;
                            display: block;
                            left: -13px;
                            top: -14px;
                            width: 38px;
                            height: 80px;
                            background-repeat: no-repeat;
                            z-index: 9999;
                        }
                    }
                    .leaderboard-table-list{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .user-name{
                            font-size: 16px;
                            color: #111;
                            font-family: 'PingFang SC Regular';;
                        }
                        .timer-row{
                            display: flex;
                            align-items: center;
                            svg{
                                margin-right: 7px;
                            }
                            .user-endtime{
                                font-family: 'PingFang SC Regular';;
                                font-size: 14px;
                                color: #B33D8E;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
        .lb-playAgain{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 300px;
            background-color: #0067B9;
            outline: none;
            border-width: 0;
            padding: 16px;
            border-radius: 50px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;
            box-shadow: 0px 4px 40px rgba(11, 45, 72, 0.31);
            text-align: center;
            text-decoration: none;
        }
    }


    &-view{
        background-image: url('../img/game/map.jpg');
        background-size: auto 80%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: #fff;
        .leaderboard-page-head{
            height: auto;
            h2.title-label{
                margin-bottom: 0;
            }
        }
    }


}

@keyframes handRotate{
    0%{
        //transform: rotate(0);
        opacity: 0;
    }
    20%{
        //transform: rotate(0);
        opacity: 1;
    }
    45%{
        //transform: rotate(50deg);
        opacity: 1;
    }
    100%{
        //transform: rotate(0deg);
        opacity: 1;
    }
}