.btm-navi{
    background-color: #fff;
    height: 83px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    .svg-wrap{
        margin-bottom: 10px;
    }
    &-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: #999999
        }
        svg{
            path{
                stroke: #999999;
            }
        }
        &.active{
            color: #0067B9;
            a{
                color: #0067B9;
            }
            svg{
                path{
                    stroke: #0067B9;
                }
            }
        }
    }
    
}