.page-carousel{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
    transition: all .5s ease-in-out ;
    &.active{
        z-index: 9;
        .sliderContainer{
            transform: translateX(0);
        }
    }
    .back-btn{
        position: absolute;
        left: 41px;
        top: 52px;
        z-index: 1;
    }
    .sliderContainer{
        position: relative;
        transform: translateX(100vw);
        transition: all .5s ease-in-out ;
        .slider {
            position: relative;
            width: 100%;
            min-height: 100%;
            background: #fff;
            .slick-next, .slick-prev{
                position: absolute;
                top: 15vh;
                z-index: 999;
                height: 85vh;
                opacity: 0;
                width: 20%;
            }
            .slick-next{
                right: 0;
            }
            .slick-prev{
                left: 0;
            }
        }
    }
}


h3 {
    margin:5px 0;
}
.sliderContainer {
    // position: relative;
}
.slider {
    // width: 100%;
}
.slick-list{
    // height: auto !important;
}
.slick-slide {
    background: #fff;
    color: #555;
    height: auto !important;
}
.slick-prev:before, .slick-next:before {
    color: black;
}
.slick-dots {
    bottom: -30px;
}
.slick-slide:nth-child(odd) {
    background: #fff;
}
.progressBarContainer {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    padding: 5px 40px;
    display: flex;
    .item{
        display: block;
        width: 30%;
        padding: 0;
        cursor: pointer;
        margin-right: 5%;
        float: left;
        color: white;
        &:last-child{
            margin-right: 0;
        }
        .progressBar{
            width: 100%;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.4);
            display: block;
            margin-bottom: 5px;
            .inProgress{
                background-color: rgba(255, 255, 255, 1);
                width: 0%;
                height: 4px;
            }
        }
        .label{
            font-size: 13px;
            display: none;
        }
        &.active{
            .label{
                display: block;
            }
        }
    }
}

